*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
    padding:20px;
}

header{
    background:#0F766E;
    color:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

h1{
    font-size:30px;
}

h2{
    margin-bottom:15px;
}

.card{
    background:white;
    border-radius:12px;
    padding:20px;
    margin-bottom:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.card h3{
    color:#666;
    font-size:16px;
    margin-bottom:8px;
}

.card h1{
    color:#0F766E;
    font-size:32px;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    background:#0F766E;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#0d5f59;
}

hr{
    margin:25px 0;
}
